# Config for ade20k, linear training

bs: 2
n_gpus: 1
metric_to_save: 'mIoU'
model_dtype: FLOAT32
scheduler:
  total_iter: 10000
  type: 'WarmupOneCycleLR'
  constructor_kwargs:
    warmup_iters: 1000
    warmup_ratio: 1e-6
    final_div_factor: .inf
    pct_start: 0
    anneal_strategy: 'cos'
    use_beta1: False
    update_momentum: False
optimizer:
  lr : 1e-3
  beta1: 0.9
  beta2: 0.999
  weight_decay: 1e-3
  gradient_clip: 'inf'
datasets:
  root: "/data_B/xujialiu/projects/dinov3/semantic_retina_vessel_segmentation"  # Path to the ADE20K dataset
  train: "ADE20K:split=TRAIN"
  val: "ADE20K:split=VAL"
train:
  diceloss_weight: 0
  celoss_weight: 1
decoder_head:
  type: "linear"
  backbone_out_layers: LAST
  use_cls_token: False
  use_batchnorm: True
  use_backbone_norm: True
  num_classes: 4
transforms:
  train:
    img_size: 1024
    random_img_size_ratio_range: [0.5, 2.0]
    crop_size: [1024, 1024]
    flip_prob: 0.5
  eval:
    img_size: 1024
eval:
  compute_metric_per_image: False
  reduce_zero_label: False
  mode: "whole"
  eval_interval: 100
  use_tta: False
